# Database
POSTGRES_DB=stodb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

MAIN_DB_URL=jdbc:postgresql://localhost:5432/stodb
MATCH_DB_URL=jdbc:postgresql://localhost:5432/stodb
BATCH_DB_URL=jdbc:postgresql://localhost:5432/stodb
DOCKER_DB_URL=jdbc:postgresql://postgres:5432/stodb

# App URLs
FRONTEND_ORIGIN=http://localhost:3000
PROD_FRONTEND_ORIGIN=https://example.com
MATCH_SERVER_URL=http://localhost:8081
DOCKER_MATCH_SERVER_URL=http://app-match:8081
VITE_API_BASE_URL=http://localhost:8080
VITE_API_BASE_URL_PRODUCTION=https://example.com

# Security
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=3600000

# Blockchain
BLOCKCHAIN_PRIVATE_KEY=
BLOCKCHAIN_RPC_URL=
BLOCKCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_CONTRACT_ADDRESS_MATCH=
BLOCKCHAIN_CONTRACT_ADDRESS_BATCH=
BLOCKCHAIN_WALLET_ENCRYPTION_KEY=

# External APIs
GEMINI_API_KEY=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Files
FILE_PATH=./files
DOCKER_FILE_PATH=/app/files
